
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#wrapper {
    // width:1060px;
    width: 100%;
    margin:0px auto;
}

header {
    // margin-top: 18px;
    background-color: #000000;
    height: 80px;
}

.header-logo {
    float: left;
    margin: auto;
    width: 30%;
    height: 80px;
}

.header-logo img {
    float: left;
    width: 80%;
}

.header-r {
    float: right;
    text-align: right;
    line-height: 80px;
    height: 80px;
    width: 65%;
}

header .links > a {
    color: #64F9C1;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav{
    display: block;
    width: 100%;
    margin-bottom: 5px; /**/
    overflow: hidden;   /*おまじない*/
}

nav ul{
    list-style: none;
    width: 80%;
    margin-left: 5%;
}

nav li{
    width: calc(20% - 2px);
    border-left: 1px solid orange;
    text-align: center;
    float: left;
}

nav li:last-child{
    border-right: 1px solid orange;
}

nav a{
    display: block;
    text-decoration: none;
    color:#313131;
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 40px;
}

nav a:hover{
    background-color: orange;
    color: #fff;
    transition: 0.5s;
}

#r-sidebar {
    float: right;
}

.r-sidebar-content {
    text-align: center;
    width: 230px;
    height: 261px;
    margin: 0px 10px 10px 10px;
}

.ads-container {
    float: right;
    width: 230px;
    height: 230px;
    line-height: 230px;
    text-align: center;
    border: dashed 1px #999;
    margin:10px 0px 10px 10px;
    background-color: #00FFFF;
}

.home-content {
  float: left;
  width: 100%;
  margin: 0px 10px 10px 10px;
}

.latest-movies-box{
    float: left;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
    width: 100%;
    height: 360px;
}

.latest-movies-box p {
    margin: 0; 
    padding: 0;
}


.popular-movies-box{
    float: left;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#C2EEFF, #ffb03c);
    background: -webkit-linear-gradient(#C2EEFF, #ffb03c);
    background: linear-gradient(to right, #C2EEFF, #ffb03c);
    color: #000000;
    width: 100%;
    height: 360px;
}

.latest-movies-box p {
    margin: 0; 
    padding: 0;
}

.home-movie-thumbnail {
    float: left;
    width: 40%;
    margin: 0 0 0 15%;
}

.latest-movie-description {
    float: right;
    width: 30%;
    margin: 0 10% 0 0;
}

p.home-movie-title {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
}

p.home-movie-evaluation {
    float: left;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0 15% 0 0; 
    padding: 0;
}

p.home-movie-date {
    float: left;
    font-style: italic;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 0 15% 0 0; 
    padding: 0;
}

footer {
    border:dashed 1px #999;
    background-color: #F0E68C;
    clear:both;
}

footer h1 {
    text-align: center;
}

.title {
    font-size: 84px;
}



.m-b-md {
    margin-bottom: 30px;
}

#mypage-profile {
  float: left;
  width: 25%;
  margin: 0px 10px 10px 10px;
  text-align: center;
}

#mypage-profile img{
  align: center;
}

#mypage-content {
  float: right;
  width: 70%;
  margin: 0px 10px 10px 10px;
}

#mypage-icon {
  width: 65%;
  margin: 0px 10px 10px 10px;
}

#mypage-username {
  color: green;
  text-align: center;
  margin: 0px 10px 10px 10px;
}

//　Headers
.home-content h2 {
    size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    width: 100%;
}

h3.home {
  position: relative;
  padding: 0.5em;
  background: #000000;
  color: white;
}

h3.home::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}